{% extends 'layout.html'%}
{% load static %}
{% block content %}
    <div id="wrapper">
    <main>
        <div class="container">
            <h1>Contact Us</h1><br>
            <form name="Login" method="POST" action="contact.html">
                <label for="Company Phone">Company Phone: 630-234-6335</label>
                
                <label for="Company E-mail">E-Mail: theredlobstersbusiness@gmail.com</label>

                <label for="Instagram">Instagram: @keepitkrabular</label>

                <label for="LinkedIn">LinkedIn: @The-Red-Lobsters</label>
            </form>
        </div>
    </main>
    </div>
{% endblock %}
