<!DOCTYPE html><!-- Red Lobster Team 9/14/2023 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrabbyTasks</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'redstyles.css' %}">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <img src="logo.png" alt="Lobster Logo" class="logo">
                <li class="head"><a href="#">CrabbyTasks</a></li>
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'taskmanager' %}">Task Manager</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>


    {% block content %}
    {% endblock %}

    <footer>
        &copy; The Red Lobsters <br>
            Questions? Comments? Send them to <a href=mailto:emmanunnink@gmail.com>emmanunnink@gmail.com</a><br>
    </footer>
</body>
</html>









