{% extends 'layout.html'%}
{% load static %}
{% block content%}
    <div id="wrapper">
    <main>
        <div class="container">
            <h1>Login</h1><br>
	    <form name="Login" method="get" action="{% url 'taskmanager' %}">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required><br>
            
                <label for="password">Password</label>
                <input type="text" name="password" id="password" required><br>

                <input type="submit" value="Login">
		<input type="button" value="Create Account" onclick="window.location.href='{% url "taskmanager" %}'">
            </form>
        </div>
    </main>
    </div>
{% endblock %}
