<!DOCTYPE html><!-- Red Lobster Team 9/14/2023 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrabbyTasks Login</title>
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="redstyles.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <img src="logo.png" alt="Lobster Logo" class="logo">
                <li class="head"><a href="#">CrabbyTasks</a></li>
                <li><a href="redlobsterHome.html">Home</a></li>
                <li><a href="redlobsterTM.html">Task Manager</a></li>
                <li><a href="redlobsterContact.html">Contact Us</a></li>
                <li><a href="redlobsterLogin.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
    <main>
        <div class="container">
            <h1>Login</h1><br>
            <form name="Login" method="POST" action="redlobsterTM.html">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required><br>
            
                <label for="password">Password</label>
                <input type="text" name="password" id="password" required><br>

                <input type="submit" value="Login">
                <input type="button" value="Create Account" onclick="window.location.href='redlobsterTM.html'">
            </form>
        </div>
    </main>
    </div>
    <footer>
        &copy; The Red Lobsters <br>
            Questions? Comments? Send them to <a href=mailto:emmanunnink@gmail.com>emmanunnink@gmail.com</a><br>
    </footer>
</body>
</html>