{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="container">
<h1>Productivity Dashboard</h1>
   <p class="hero-description"> Organize and manage all your tasks efficiently.  </p>
   <section class=" ">
   </section>

   <div class="side-panel">
   <form action="{% url 'taskmanager1' %}" method="get" autocomplete="off">
	   {% csrf_token %}
	{{form}}
	 <button id="add-row">Add Task</button>
   </form>
   <div class="container">
   <div class="container">
	   <h1>Sunday</h1>
	   <table>
		   <thead>
			   <tr>
				   <th>Time</th>
				   <th>Task Info</th>
			   </tr>
		   </thead>
		   <tbody id="tasks-table">
			   
		   </tbody>
	   </table>
   </div>


  <section class="table-section">
   <table> <thead>
     <tr> 
	     <th> </th> 
	     <th> Sun </th> 
	     <th> Mon </th> 
	     <th> Tue </th> 
	     <th> Wed </th> 
	     <th> Thu </th> 
	     <th> Fri </th>
	     <th> Sat </th>
     </tr>
    </thead>
    <tbody>
     <tr> 
	     <td> 8:00AM </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td>
     </tr> 
     <tr> 
	     <td> 10:00AM </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
     </tr> 
     <tr> 
	     <td> 12:00PM </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
     </tr> 
     <tr> 
	     <td> 2:00PM </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
     </tr> 
     <tr> 
	     <td> 4:00PM </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
	     <td> </td> 
     </tr>
    </tbody>
   </table>
  </section>

   </div>
   </div>
</div>
{% endblock %}
